body {
  padding: 0px;
  margin: 0px 150px;
  background-image: url("./img/bg_temp2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

                    /* landing section */

.landing {
  height: 110vh;
  letter-spacing: 3px;
}

.text {
  display: inline-block;
  margin-top: 100px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 66%;

}

.callToAction img {
  margin-bottom: 110px;
  background-size: auto;
display: hidden;
}

.w {
  width: 4px;
  margin: auto;
  height: 300px
}

h1, h4 {
  background-color: rgba(10, 10, 10, 0.7);
  padding: 15px;
  color: white;
  display: inline;
}

h3 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  color: black;
  display: inline;
  margin-left: 25px;
}

h1 {
  font-size: 90px;
}
h4 {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 30px;
}

                    /* show section */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;
  color: #586069;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 230px;
  width: 280px;
  background: white;
  border-radius: 5px;
  border: 1px solid #666;
}

.card a {
  text-decoration: none;
  color: #666;
    justify-content: space-around;
}

.card p {
  padding: 5px 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

                    /* socials section */

footer {
  background-image: url("./img/footer.svg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 120px;
  display: flex;
  margin: auto;
  flex-direction: column;
  /* align-items: baseline;
  text-align: center; */
}

.icons {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

footer img {
  margin: auto;
}

footer p {
  color: #586069;
  margin: 3px;
  position: relative;
  line-height: 	58px;
  /* top: 5px; */
}
